<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.progavancada.appprojeto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContatosActivity"
            android:label="@string/title_activity_contatos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MusicasActivity"
            android:label="@string/title_activity_musicas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideosActivity"
            android:label="@string/title_activity_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CadastroContatoActivity" />
        <activity
            android:name=".BaixarMusicas"
            android:label="@string/title_activity_baixar_musicas"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>